.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";
  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .header {
    grid-area: header;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .swiper {
    display: flex;
    position: relative;
    grid-area: swiper;
    overflow: auto;
    box-sizing: border-box;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .swiper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .offers {
    grid-area: offers;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    background-image: url("../../../public/images/flash.webp");
    background-position: -275px -135px;
    background-size: cover;
  }
  .offers img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .user {
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
}
